In [71]:
import pandas as pd
from sklearn.cluster import KMeans
from caimcaim import CAIMD
from scipy.stats import pearsonr

## CAIBAL with Iris Dataset

In [72]:
#dataset
dataset = pd.read_csv('datasets/irisDataset.csv')
Validation = pd.DataFrame(dataset['Species'])
dataset_clustering = dataset.drop(['Id','Species'], axis=1)
dataset_clustering

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

## Clustering with K-means

In [73]:
kmeans = KMeans(init='random', n_clusters=3, n_init=10, max_iter=300, random_state=365)
dataset_with_clusterAtt = dataset_clustering
dataset_with_clusterAtt['cluster'] = kmeans.fit_predict(dataset_clustering)
dataset_with_clusterAtt

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  cluster
0              5.1           3.5            1.4           0.2        2
1              4.9           3.0            1.4           0.2        2
2              4.7           3.2            1.3           0.2        2
3              4.6           3.1            1.5           0.2        2
4              5.0           3.6            1.4           0.2        2
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        0
146            6.3           2.5            5.0           1.9        1
147            6.5           3.0            5.2           2.0        0
148            6.2           3.4            5.4           2.3        0
149            5.9           3.0            5.1           1.8        1

[150 rows x 5 columns]

## Discretizing with CAIM

In [74]:
numAtt = dataset_clustering
clusterAtt = dataset_with_clusterAtt['cluster']
caim = CAIMD()
dataset_disc = caim.fit_transform(numAtt, clusterAtt)

Categorical [4]
# 0  GLOBAL CAIM  34.218864468864474
# 1  GLOBAL CAIM  22.299132011918644
# 2  GLOBAL CAIM  47.41414141414142
# 3  GLOBAL CAIM  40.77950461389024

In [75]:
#Finding cut points
disc_scheme = pd.DataFrame()
disc_scheme = caim.split_scheme
disc_scheme

{0: [4.3, 5.4, 6.3, 8.9],
 1: [2.0, 3.0, 3.3, 5.4],
 2: [1.0, 1.9, 5.1, 7.9],
 3: [0.1, 0.6, 1.9, 3.5]}

In [119]:
#Count features values occurrence by cluster
cluster1 = pd.DataFrame()
cluster1 = dataset_disc[dataset_disc['cluster'] == 0]
cluster1 = cluster1.drop(['cluster'], axis=1)
result_table = pd.DataFrame()
resultKeys = []
for (colName, colData) in cluster1.items():
    resultKeys.append(colName)
    counter_table = pd.crosstab(index=cluster1[colName], columns='count')
    counter_table = counter_table/counter_table.sum()
    result_table = pd.concat([result_table, counter_table])
result_table

col_0     count
1.0    0.052632
2.0    0.947368
0.0    0.263158
1.0    0.526316
2.0    0.210526
1.0    0.052632
2.0    0.947368
1.0    0.263158
2.0    0.736842